<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ica.lb" version="1.0.0">
  <name>BAR</name>
  <description>
   Battles of the American Revolution Assistant
  </description>
  <author email="jcapuano328@gmail.com" href="https://ica.com">
   ICA Team
  </author>
  <icon src="images/icon.png" />
</widget>