<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ica.lb" version="1.2.2">
  <name>BAR Assistant</name>
  <description>
   Battles of the American Revolution Assistant
  </description>
  <author email="jcapuano328@gmail.com" href="https://ica.com">
   ICA Team
  </author>
  
  <hook type="after_platform_add" src="scripts/android/afterPlatformAdd.js" />
  
  <platform name="android">
    <preference name="Theme" value="com.ica.lb.R.style.Theme_BAR" />
    <icon src="resources/android/drawable-ldpi/ic_launcher.png" density="ldpi" />
    <icon src="resources/android/drawable-mdpi/ic_launcher.png" density="mdpi" />
    <icon src="resources/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
    <icon src="resources/android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
    <icon src="resources/android/drawable-xxhdpi/ic_launcher.png" density="xxhdpi" />
    <icon src="resources/android/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    <splash src="resources/android/drawable-ldpi/drawable-land-ldpi-screen.png" density="land-ldpi"/>
    <splash src="resources/android/drawable-mdpi/drawable-land-mdpi-screen.png" density="land-mdpi"/>
    <splash src="resources/android/drawable-hdpi/drawable-land-hdpi-screen.png" density="land-hdpi"/>
    <splash src="resources/android/drawable-xhdpi/drawable-land-xhdpi-screen.png" density="land-xhdpi"/>
    <splash src="resources/android/drawable-xxhdpi/drawable-land-xxhdpi-screen.png" density="land-xxhdpi"/>
    <splash src="resources/android/drawable-xxxhdpi/drawable-land-xxxhdpi-screen.png" density="land-xxxhdpi"/>
    <splash src="resources/android/drawable-ldpi/drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="resources/android/drawable-mdpi/drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="resources/android/drawable-hdpi/drawable-port-hdpi-screen.png" density="port-hdpi"/>
    <splash src="resources/android/drawable-xhdpi/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
    <splash src="resources/android/drawable-xxhdpi/drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
    <splash src="resources/android/drawable-xxxhdpi/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/> 
  </platform>
</widget>
